.mainCarrinho{
    /* border: 2px solid red; */
    min-height: 100vh;
    /* display: flex; */
    
}

.cardProductsContainer{
    /* border: 2px solid green; */
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    width: 100%;
    max-width: 900px;
    min-height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 2px 2px 3px #8a8a8a;
    padding: 10px;
}