.mainInicial{
    /* background-color: #021553af; */
    min-height: 100vh;
    border: 2px solid red;
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
}

.sectionInicial{
    border: 2px solid green;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    /* max-width: 900px; */
}