.cardProduct {
  margin-top: 10px;
  width: 190px;
  padding: 0.8em;
  background: #100d20;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card_imgProduct {
  background-color: #443c71;
  height: 102px;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}

.card_infoProduct {
  padding-top: 10%;
}

.svg_iconProduct {
  width: 20px;
  height: 20px;
}

.card_footerProduct {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

.text_titleProduct {
  font-weight: 900;
  font-size: 1.4em;
  line-height: 1.5;
  color: #fff;
  text-transform: capitalize;
}

.text_bodyProduct {
  font-size: 1.2em;
  padding-bottom: 10px;
  color: #fff;
}

.card_buttonProduct {
  border: 1px solid #252525;
  display: flex;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
  background-color: #fff;
}

.card_imgProduct:hover {
  transform: translateY(-25%);
  box-shadow: rgba(226, 63, 212, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 80, 0.3) 0px 8px 16px -8px;
}

.card_buttonProduct:hover {
  border: 1px solid #f82e7f;
  background-color: #f82e7f;
}

.notificacaoCardProduct{
  position: absolute;
  z-index: 5;
}